<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="styleCustom">
    <div class="color-panel hidden-phone">
        <div class="color-mode-icons icon-color"></div>
        <div class="color-mode-icons icon-color-close"></div>
        <div class="color-mode">
            <p th:text="#{web.layout.theme.title}">主题设置</p>
            <ul class="inline">
                <li class="color-black current color-default" data-style="default"></li>
                <li class="color-blue" data-style="blue"></li>
                <li class="color-grey" data-style="grey"></li>
                <li class="color-white color-light" data-style="light"></li>
            </ul>

            <label>
                <span th:text="#{web.layout.nav}">导航栏</span>
                <select class="header-option m-wrap small">
                    <option value="fixed" selected="selected" th:text="#{web.layout.fixed}">固定</option>
                    <option value="default" th:text="#{web.layout.scroll}">滚动</option>
                </select>
            </label>

            <label>
                <span th:text="#{web.layout.menu}">菜单栏</span>
                <select class="sidebar-option m-wrap small">
                    <option value="fixed" selected="selected" th:text="#{web.layout.fixed}">固定</option>
                    <option value="default" th:text="#{web.layout.scroll}">滚动</option>
                </select>
            </label>

            <label>
                <span th:text="#{web.layout.copyright}">页脚</span>
                <select class="footer-option m-wrap small">
                    <option value="fixed" selected="selected" th:text="#{web.layout.fixed}">固定</option>
                    <option value="default" th:text="#{web.layout.scroll}">滚动</option>
                </select>
            </label>
        </div>
    </div>
</div>

</html>